.footer {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer a {
  margin: 0 10px 0 10px;
  height: 20px;
  text-align: center;
  align-items: center;
}

.footer img {
  height: 20px;
  margin-top: 120px;
  margin-bottom: 80px;
  }

