.login-body {
    display: block;
    font-size: 13px;
}

.login-form-logo {
    
    margin-top: 100px;
}

.logo-link {
    margin: 0;
}

#login-input #password-input {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#login-input {
    margin-top: 100px;
}


#password-input {
    margin-bottom: 50px;
}

#login-button .join-button .find-button {
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

input::placeholder {
    background-color: beige;
    text-align: center;
    color: brown;
}

#login-form-footer {
    display: flex;
    width: 200px;
    height: 20px;
    margin-top: 25vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}